<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Randomizer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link id="style" rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <img id="logo" src="../public/img/GoldfishNews.png" alt="Goldfish News Logo">

        <div class="switchButton">
            <div id="topbar" class="bar"></div>
            <div id="middlebar" class="bar"></div>
            <div id="bottombar" class="bar"></div>
        </div>
    </header>

    <div class="modal displayNone">
        <div class="modal-content">
            <p>Bienvenue. Vous allez naviguer sur un site qui ne vous connaît pas et ne se souviendra pas de vous.</p>

            <p>Nous ne produisons pas de contenu. Nous ne présumons pas de ce qui constituerait une information pertinente pour vous.</p>

            <p>Nous allons vous proposer un fil d’actualités récentes recueillies sur internet durant les dernières 48 heures.</p>

            <p>C’est le hasard qui va déterminer le contenu de ce fil.</p>
            <div class="yesNoBox">
                <button class="close">Y[es]<span class="blink">|</span></button>
                <button class="redirect">N[o]</button>
            </div>
        </div>
    </div>

    <div class="modal displayNone">
        <div class="modal-content2">
            <p>See you SpaceCowboy...</p>
        </div>
    </div>

    <div class="sidebar">
        <blockquote>
            <p id="quote"></p>
        </blockquote>
        <div>Ne pas voir :
            <div id='keywordsFilter'>
            </div>
        </div>
        <a href="./about"><div class="bottomLink">A propos</div></a>
    </div>

    <main>
            
    </main>

    <footer>
        <div id='btnRefresh'>
            <span id="randomizePhrase"></span>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </footer>

    <script src="../public/js/indexFunction.js"></script>

</body>

</html>