<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Randomizer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link id="style" rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <img id="logo" src="../public/img/GoldfishNews.png" alt="Goldfish News Logo">

        <div class="switchButton">
            <div id="topbar" class="bar"></div>
            <div id="middlebar" class="bar"></div>
            <div id="bottombar" class="bar"></div>
        </div>
    </header>

    <div class="modal displayNone">
        <div class="modal-content">
            <p>Bienvenue. Vous allez naviguer sur un site qui ne vous connaît pas et ne se souviendra pas de vous.</p>

            <p>Nous ne produisons pas de contenu. Nous ne présumons pas de ce qui constituerait une information pertinente pour vous.</p>

            <p>Nous allons vous proposer un fil d’actualités récentes recueillies sur internet durant les dernières 48 heures.</p>

            <p>C’est le hasard qui va déterminer le contenu de ce fil.</p>
            <div class="yesNoBox">
                <button class="close">Y[es]<span class="blink">|</span></button>
                <button class="redirect">N[o]</button>
            </div>
        </div>
    </div>

    <div class="modal displayNone">
        <div class="modal-content2">
            <p>See you SpaceCowboy...</p>
        </div>
    </div>

    <div class="sidebar">
        <blockquote>
            <p id="quote"></p>
        </blockquote>
        <div>Ne pas voir:
            <div id='keywordsFilter'>
                <input type="checkbox" id="checkbox1" class="checkbox" value="NSFW">
                <label class="label-check" for="checkbox1">#NSFW</label>
                <input type="checkbox" id="checkbox2" class="checkbox" value="Renault">
                <label class="label-check" for="checkbox2">#Renault</label>
                <input type="checkbox" id="checkbox3" class="checkbox" value="Gilets Jaunes">
                <label class="label-check" for="checkbox3">#GilJau</label>
                <input type="checkbox" id="checkbox4" class="checkbox" value="cadeau">
                <label class="label-check" for="checkbox4">#Cadeau</label>
                <input type="checkbox" id="checkbox5" class="checkbox" value="Voitures">
                <label class="label-check" for="checkbox5">#Voitures</label>
            </div>
        </div>
        <a href="./about">
            <div class="bottomLink">A propos</div>
        </a>
    </div>

    <main>
        <div class="mediaplayer" id="mediaPlayer">
            <audio id="audioPlayer" src="https://d34x6xks9kc6p2.cloudfront.net/540997b0-a35f-4b69-86d6-b1c925c4a264/540997b0-a35f-4b69-86d6-b1c925c4a264.mp3"></audio>
            <div class="discarea">
                <div class="disc">
                </div>
                <div class="stylus">
                    <div class="pivot"></div>
                    <div class="arm"></div>
                    <div class="head"></div>
                </div>
            </div>
            <div class="controls">
                <span class="title" id="songTitleLabel">
                    LA Chill Tour
                </span>
                <div class="buttons">
                    <button id="backItem" class="back">
                        <i class="fa fa-backward"></i>
                    </button>
                    <button id="playState" class="playstate">
                        <i class="fa fa-play"></i>
                        <i class="fa fa-pause"></i>
                    </button>
                    <button id="stopItem" class="stop">
                        <i class="fa fa-stop"></i>
                    </button>
                    <button id="nextItem" class="next">
                        <i class="fa fa-forward"></i>
                    </button>
                </div>
                <div class="subControls">
                    <span class="duration" id="currentDuration">00:00</span>
                    <input class="volumeSlider" type="range" id="volumeSlider" min="0" max="1" step="0.01" />
                </div>
            </div>
        </div>
        <script></script>
    </main>

    <footer>
        <div id='btnRefresh'>
            <span id="randomizePhrase"></span>
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </footer>

    <script src="../public/js/indexFunction.js"></script>

</body>

</html>