header, footer, .sidebar, blockquote::after {
    background-color: #000;
}

div#btnRefresh, #topbar, #middlebar, #bottombar{
    color: #fff;
    background-color: #db5030;
}

.checkbox:checked + .label-check{
    background-color: #db5030;
    color: #fff;
}

.label-check:hover{
    background-color: #db5030;
    color: #fff;
}