header, footer, .sidebar, blockquote::after {
    background-color: #66bd84;
}

div#btnRefresh, #topbar, #middlebar, #bottombar, #btnShuffle{
    background-color: #fff;
    color: #000;
}

figure img{
    border-radius: 20px;
}

figure figcaption {
    background: #66bd84;
    /* font-size: 12px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
}

figcaption, p, a {
    font-family: Arial Rounded MT;
}

.sidebar div {
    color:#090909;
    font-family: Arial Rounded MT;
}

main {
    background-color: #fff;
}

blockquote {
    border-top: 1px solid #090909;
    border-bottom: 1px solid #090909;
}

blockquote p, blockquote::after {
    color: #090909;
}

#keywordsFilter {
	min-width: 250px;
}

.sidebar label {
    font-size: 10px;
}

.checkbox:checked + .label-check{
	background-color: #ffe066;
}

.label-check:hover{
    background-color: #095256;
    color: #fff;
}

#logoShuffle{
    filter: invert(1);
}


.spin:hover {
	color: #095256;
}

.spin:hover::before {
    border-top-color: #095256;
	border-right-color: #095256;
    border-bottom-color: #095256;
}

.spin:hover::after {
    border-top: 2px solid #095256;
}

#history a{
    font-size: 12px;
    text-decoration: none;
    color: #090909;
	padding: 0;
}