header, footer, .sidebar, blockquote::after {
    background-color: #000000;
}

div#btnRefresh, #topbar, #middlebar, #bottombar{
    background-color: #246a73;
    color: #fff;
}

figure img{
    border-radius: 20px;
}

figure figcaption {
    background: #246a73;
    font-size: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
}

figcaption, p, a {
    text-transform: uppercase;
    font-family: Oswald;
}

.sidebar a {
    color:#fff;
    font-size: 16px;
}

.sidebar a:hover {
    color: #246a73;
}

 main {
    background-color: #f2f2f2;
}
