header, footer, .sidebar, blockquote::after {
    background-color: #66bd84;
}

div#btnRefresh, #topbar, #middlebar, #bottombar{
    background-color: #fff;
    color: #000;
}

figure img{
    border-radius: 20px;
}

figure figcaption {
    background: #66bd84;
    font-size: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
}

figcaption, p, a {
    text-transform: uppercase;
    font-family: Arial Rounded MT;
}

.sidebar div {
    color:#090909;
    font-family: Arial Rounded MT;
}

.sidebar div:hover {
    color: #e8f6f8;
}

 main {
    background-color: #fff;
}

blockquote {
    border-top: 1px solid #090909;
    border-bottom: 1px solid #090909;
}

blockquote p, blockquote::after {
    color: #090909;
}

#keywordsFilter {
	min-width: 250px;
}

.sidebar label {
    font-size: 10px;
}

.checkbox:checked + .label-check{
	background-color: #ffe066;
}